.button {
    --color: #{get-color('dark')};
    --background-color: #{get-color('primary')};

    @include apply-utility('font', 'headings');
    @include apply-utility('text', '300');

    padding: get-size('200') get-size('300');
    white-space: nowrap;
    background-color: var(--background-color);
    border: 3px solid var(--background-color);
    color: var(--color);
    border-radius: 9999px;
    cursor: pointer;
    text-align: center;
    font-weight: 800;

    @include media-query('lg') {
        @include apply-utility('text', '400');

        padding: get-size('400') get-size('600');
    }
}

.button--outline {
    background-color: transparent;
    color: var(--background-color);
}

.button--xl {
    padding: get-size('400') get-size('500');

    @include media-query('md') {
        @include apply-utility('text', '600');

        padding: get-size('700') get-size('800');
    }

    @include media-query('lg') {
        @include apply-utility('text', '700');
    }
}

.button--full {
    width: 100%;
}
