.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: get-size('800');

    svg {
        height: 6vw;
        max-height: 60px;
        width: auto;
        margin: get-size('200');
        opacity: 0.5;
        transition: 0.3s ease-in-out;
        transition-property: opacity, transform;

        &:hover {
            opacity: 1;
            transform: scale(1.03);
        }

        @include media-query('md') {
            height: 10vw;
            margin: get-size('400');
        }
    }

    path {
        fill: white;
    }

    @include media-query('md') {
        margin-bottom: get-size('1000') * 1.5;
    }
}
